#events {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Create two equal-width columns
  gap: 2rem; // Space between columns
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Switch to a single column on smaller screens
  }
}

.post-content {
  padding: 1rem;
  box-sizing: border-box;
}

.container {
  margin: 1rem auto;
  max-width: 1200px;  // Increase this value to whatever new maximum width you desire
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}