// Increase avatar image size
.avatar {
  img {
    width: 30rem;
    height: auto;
    border-radius: 0%;

    @media only screen and (max-width: 768px) {
      width: 25rem;
    }
  }
}

// Override boring single color with brand colors.
.centered {
  .about {
    h1 {
      display: none; // Hide author name, because our logo already contains "Kaisa Ling Thing"
    }
    ul {
      li {
        a {
          font-size: 5rem; 
          @media only screen and (max-width: 768px) {
            font-size: 4rem; // New font size for smaller screens
          }
          &:hover,
          &:focus {
            &[aria-label="Facebook"] {
              color: #1877f2; // Facebook blue
            }
            &[aria-label="Instagram"] {
              color: #e4405f; // Instagram pink
            }
            &[aria-label="Spotify"] {
              color: #1db954; // Spotify green
            }
            &[aria-label="Apple"] {
              color: #a3aaae; // Apple Music gray
            }
            &[aria-label="Youtube"] {
              color: #ff0000; // YouTube red
            }
          }
        }
      }
    }
  }
}

.content {
  .container {
    #events {
      display: grid;
      .eventseries-grid,
      .events-grid {
        display: grid;
      }
      .category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .post-title {
          display: flex;
          align-items: center; /* This centers the content vertically */
          a {
            font-size: 2rem;
            color: #333;
            text-decoration: none;
            &:hover {
              color: #007bff;
            }
          }
        }
        .buy-ticket-button {
          padding: 0.6rem 1.2rem;
          background-color: #007bff;
          color: white;
          border-radius: 0.125rem;
          text-decoration: none;
          &:hover,
          &:focus {
            background-color: darken(#007bff, 10%);
          }
        }
      }
      .event-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
      .event-card {
        display: flex;
        text-align: center;
        gap: 1rem; /* Added gap for increased spacing between items */
        a {
          display: block;
          text-decoration: none;
        }
        .date {
          color: #333;
        }

        .title {
          color: #666;
        }
      }
    }
  }
}
